<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/styling.css"/>
    <script src="https://kit.fontawesome.com/067bb09eee.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <a href="/"><img src="assets/logo.png" alt="logo"></a> -->
        <nav id="mainNav">
            <ul class = "mainNav">
                <li class="nav navActive">
                    <a href="/">Home</a>
                </li>
                <li class="nav navActive">
                    <a href="/symptoms">diagnosis tool</a>
                </li>
                <li class="nav">
                    <a href="/contact">contact</a>
                </li>
                <li class="nav">
                    <a href="/learning">learning</a>
                </li>
            </ul>
        </nav>
    </header>

</body>
</html>